__pycache__/
working_file/
cache_repo/*.json
university_info_generator/university_info_generator.egg-info/
university_info_generator/configs/.env
university_info_generator/configs/uforseAdminKey.json
cache_repo/
cache_repo/*.jsonl
/university_info_generator/build/
/university_info_generator/fetcher/ranking_fetcher/*.ipynb
/university_info_generator/fetcher/ranking_fetcher/ranking_data/*.jsonl
/university_info_generator/fetcher/ranking_fetcher/ranking_data/*.zip
